<body class=="">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">


    </div>
    <!--end global-cookie-message-->


    <header role="banner" id="global-header" class="with-proposition
">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="/public/images/gov.uk_logotype_crown.png?0.13.0" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
        </div>
<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="index" id="proposition-name">Get a document legalised</a>
    </nav>

  </div>
</div>
      </div>
    </header>
    <!--end header-->



    <div id="global-header-bar"></div>
    <!--end global-header-bar-->
<main id="content" role="main">
    <div class="phase-banner">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <h1 class="heading-xlarge">Get your document legalised</h1>

    <section class="intro column-two-thirds">
        <div class="get-started-intro">
            <div class="summary">
                <p>You get a UK public document ‘legalised’ by asking the UK government to confirm that a UK public official’s signature, seal or stamp on the document is genuine.</p>
            </div>

            <p>You might need to do this if a local authority abroad has asked you to provide a document and they’ve said it must be legalised.</p>

            <div class="application-notice info-notice">
                <p>We will legalise your document(s) by issuing and applying an official apostille.</p>
            </div>

            <h2 class="heading-large">What you will need</h2>
            <ul class="list-bullet">
                <li>The documents you want legalised</li>
                <li>A printer</li>
                <li>A return address</li>
                <li>A payment card (credit or debit)</li>
            </ul>

            <a href="application_form_type" class="button button-get-started" role="button">Start now</a>


            <h2 class="heading-large">What it costs</h2>

            <p>It costs £30 per document, plus the cost of the postage to return your documents by courier. This is:</p>

            <ul>
                <li>£5.50 in the UK (including British Forces Post Office)</li>
                <li>£14.50 per 500g in Europe (not including Albania, Armenia, Azerbaijan, Belarus, Bosnia and Herzegovina, Georgia, Liechtenstein, Kazakhstan, Macedonia, Moldova, Montenegro, Russia, Serbia, Turkey and Ukraine)</li>
                <li>£25 per 500g in every other country</li>
            </ul>

            <p>Include an A4-sized pre-paid envelope if you’re in the UK and don’t want your documents returned by courier.</p>



            <h2 class="heading-large">How long it takes</h2>

            <p>It normally takes 48 hours to legalise your documents, plus courier or postage time. You’ll get an email if there’s a
                delay.</p>

            <div class="application-notice info-notice">
                <p>Businesses can register for the <a href="#">legalisation premium service</a>.</p>
            </div>



            <h2 class="heading-large">Contact the Legalisation Office</h2>

            <div class="contact">
                <p><a href="mailto:legalisationenquiries@fco.gsi.gov.uk">legalisationenquiries@fco.gsi.gov.uk</a> <br>
                    Telephone: 03700 00 22 44 <br>
                    Monday to Friday, midday to 4pm<br>
                    <a href="https://www.gov.uk/call-charges" rel="external"  target="_blank">Find out about call charges</a></p>
            </div>
        </div>
    </section>



</main>
</body>